.card2{

	width: 21%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	color: white;
	background: black !important;
	float: left;

}

.card2 a{
	width: 100%;
}

.card2 img{
	height: 110px;
}

.title{
	width: 100%;
	font-family: verdana;
	height: 50px;
	font-size: 12px;
	text-align: justify;

}


.Mouse{

	width: 21%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	color: white;
	background: black !important;
	opacity: .6;

	float: left;
	
}