.menu {

	background: black !important;
	color:white;
	height: 70px !important;

}

.menu a{

	color:white !important;

}


.nav2{
	background: black !important;
	
}

.nav2 a {
	color: white !important;
}

.nav2 a:hover {
	color: black !important;
}